<a href="https://colab.research.google.com/github/swleegit/ML_Quiz_sol/blob/main/Hong_219p_quiz_sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.
[엑셀데이터](https://drive.google.com/file/d/1aSzAYCKGuW5w_oPr2puW1ATqTPf4PV-u/view?usp=sharing)  

(위의 엑셀파일은 열 이름을 삭제한 파일이다.)

1. 엑셀파일을 데이터프레임으로 불러오기(단, 첫 행이 열이름이 되지 않도록 하세요.)

2. 열이름을 다음과 같이 추가하세요.  
'Species', 'Weight','Length1','Length2','Length3','Height','Width'

3. Species중 가장 많은 종을 찾고 해당 종만 있도록 데이터프레임을 수정하세요.

4. Weight열을 target으로 'Length1','Length2','Length3','Height','Width'을 input으로 배열(ndarray)로 전환하세요.

5. 훈련과 테스트 데이터를 PolynomialFeatures를 이용하여 3제곱으로 특성을 늘려보세요.

6. 5.에서 몇개의 특성이 나왔나요? 어떤 조합으로 그런 특성이 나왔는지 생각해보세요

7. 늘어난 특성의 훈련세트와 테스트세트를 각각 정규화(표준점수로 반환)해보세요.
(mean, std를 이용해서 직접 해보세요)

8. 7.의 과정을 StandardScaler를 이용하여 해보세요. 그리고 7.의 결과와 비교해보세요.

# 1. 답

In [ ]:
import pandas as pd
file_path = "/content/drive/MyDrive/혼공머신러닝/파일/Fish_excel.xlsx"
df = pd.read_excel(file_path, engine = 'openpyxl')
print(df.head())

   Bream    242  23.2  25.4    30    11.52    4.02
0  Bream  290.0  24.0  26.3  31.2  12.4800  4.3056
1  Bream  340.0  23.9  26.5  31.1  12.3778  4.6961
2  Bream  363.0  26.3  29.0  33.5  12.7300  4.4555
3  Bream  430.0  26.5  29.0  34.0  12.4440  5.1340
4  Bream  450.0  26.8  29.7  34.7  13.6024  4.9274

In [ ]:
#default 설정값으로 첫 행이 열의 이름을 이루고 있음을 알 수 있다.
#header = None 이용하여 첫행이 열의 이름이 안되도록 하자.
file_path = "/content/drive/MyDrive/혼공머신러닝/파일/Fish_excel.xlsx"
df = pd.read_excel(file_path, engine = 'openpyxl', header = None)
print(df.head())

       0      1     2     3     4        5       6
0  Bream  242.0  23.2  25.4  30.0  11.5200  4.0200
1  Bream  290.0  24.0  26.3  31.2  12.4800  4.3056
2  Bream  340.0  23.9  26.5  31.1  12.3778  4.6961
3  Bream  363.0  26.3  29.0  33.5  12.7300  4.4555
4  Bream  430.0  26.5  29.0  34.0  12.4440  5.1340

In [ ]:
#열의 이름을 바꾸자.
df.columns = ['Species', 'Weight','Length1','Length2','Length3','Height','Width']
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [ ]:
#species의 각 고유값의 개수 파악
pd.value_counts(df['Species'])

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

In [ ]:
#가장 많은 sample을 갖고 있는 Perch 샘플만 골라내자.
#해당 불리안 인덱스를 만들자.

perch_indexes = df['Species'] == 'Perch' #Perch면 True 아니면 False인 배열 생성
df.loc[perch_indexes]

    Species  Weight  Length1  Length2  Length3   Height   Width
72    Perch     5.9      7.5      8.4      8.8   2.1120  1.4080
73    Perch    32.0     12.5     13.7     14.7   3.5280  1.9992
74    Perch    40.0     13.8     15.0     16.0   3.8240  2.4320
75    Perch    51.5     15.0     16.2     17.2   4.5924  2.6316
76    Perch    70.0     15.7     17.4     18.5   4.5880  2.9415
77    Perch   100.0     16.2     18.0     19.2   5.2224  3.3216
78    Perch    78.0     16.8     18.7     19.4   5.1992  3.1234
79    Perch    80.0     17.2     19.0     20.2   5.6358  3.0502
80    Perch    85.0     17.8     19.6     20.8   5.1376  3.0368
81    Perch    85.0     18.2     20.0     21.0   5.0820  2.7720
82    Perch   110.0     19.0     21.0     22.5   5.6925  3.5550
83    Perch   115.0     19.0     21.0     22.5   5.9175  3.3075
84    Perch   125.0     19.0     21.0     22.5   5.6925  3.6675
85    Perch   130.0     19.3     21.3     22.8   6.3840  3.5340
86    Perch   120.0     20.0     22.0     23.5   6.1100  3.4075
87    Perch   120.0     20.0     22.0     23.5   5.6400  3.5250
88    Perch   130.0     20.0     22.0     23.5   6.1100  3.5250
89    Perch   135.0     20.0     22.0     23.5   5.8750  3.5250
90    Perch   110.0     20.0     22.0     23.5   5.5225  3.9950
91    Perch   130.0     20.5     22.5     24.0   5.8560  3.6240
92    Perch   150.0     20.5     22.5     24.0   6.7920  3.6240
93    Perch   145.0     20.7     22.7     24.2   5.9532  3.6300
94    Perch   150.0     21.0     23.0     24.5   5.2185  3.6260
95    Perch   170.0     21.5     23.5     25.0   6.2750  3.7250
96    Perch   225.0     22.0     24.0     25.5   7.2930  3.7230
97    Perch   145.0     22.0     24.0     25.5   6.3750  3.8250
98    Perch   188.0     22.6     24.6     26.2   6.7334  4.1658
99    Perch   180.0     23.0     25.0     26.5   6.4395  3.6835
100   Perch   197.0     23.5     25.6     27.0   6.5610  4.2390
101   Perch   218.0     25.0     26.5     28.0   7.1680  4.1440
102   Perch   300.0     25.2     27.3     28.7   8.3230  5.1373
103   Perch   260.0     25.4     27.5     28.9   7.1672  4.3350
104   Perch   265.0     25.4     27.5     28.9   7.0516  4.3350
105   Perch   250.0     25.4     27.5     28.9   7.2828  4.5662
106   Perch   250.0     25.9     28.0     29.4   7.8204  4.2042
107   Perch   300.0     26.9     28.7     30.1   7.5852  4.6354
108   Perch   320.0     27.8     30.0     31.6   7.6156  4.7716
109   Perch   514.0     30.5     32.8     34.0  10.0300  6.0180
110   Perch   556.0     32.0     34.5     36.5  10.2565  6.3875
111   Perch   840.0     32.5     35.0     37.3  11.4884  7.7957
112   Perch   685.0     34.0     36.5     39.0  10.8810  6.8640
113   Perch   700.0     34.0     36.0     38.3  10.6091  6.7408
114   Perch   700.0     34.5     37.0     39.4  10.8350  6.2646
115   Perch   690.0     34.6     37.0     39.3  10.5717  6.3666
116   Perch   900.0     36.5     39.0     41.4  11.1366  7.4934
117   Perch   650.0     36.5     39.0     41.4  11.1366  6.0030
118   Perch   820.0     36.6     39.0     41.3  12.4313  7.3514
119   Perch   850.0     36.9     40.0     42.3  11.9286  7.1064
120   Perch   900.0     37.0     40.0     42.5  11.7300  7.2250
121   Perch  1015.0     37.0     40.0     42.4  12.3808  7.4624
122   Perch   820.0     37.1     40.0     42.5  11.1350  6.6300
123   Perch  1100.0     39.0     42.0     44.6  12.8002  6.8684
124   Perch  1000.0     39.8     43.0     45.2  11.9328  7.2772
125   Perch  1100.0     40.1     43.0     45.5  12.5125  7.4165
126   Perch  1000.0     40.2     43.5     46.0  12.6040  8.1420
127   Perch  1000.0     41.1     44.0     46.6  12.4888  7.5958

교재 185p랑 비교하자.  
교재는 ndarray(배열)을 대상으로 불리안 인덱싱을 했다.  
그래서 train_scaled[indexes]를 했다. ndarray[행,열]이기 때문이다.  
dataframe에서 열에 접근하려면 df[['열1','열2'...]] 또는 df[1:3]  
행에 접근하려면 df.loc[['행1','행2']] 또는 df.iloc[[0,1]]  
행,열에 접근하려면 df.loc[['행1,'행2'],['열1','열2']] (iloc도 마찬가지)

In [ ]:
#target인 weight와 input인 weight1,2,3,height, width를 넘파이 배열로 변환하자.

perch_target = df['Weight'].to_numpy()
perch_input = df[['Length1','Length2','Length3','Height','Width']].to_numpy()

In [ ]:
#훈련세트와 테스트세트로 나누자.
from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = \
train_test_split(perch_input, perch_target, random_state = 42)
#stratify = perch_target 안됨. 분류문제에서만 가능하다.

In [ ]:
#변환기인 PolynomialFeatures를(3제곱) 이용해서 input데이터의 특성을 늘려보자.
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree = 3, include_bias = False).fit(train_input)
ptrain_input = poly.transform(train_input)
ptest_input = poly.transform(test_input)
ptrain_input.shape

(119, 55)

In [ ]:
poly.get_feature_names_out()
#3제곱 의미
#1 : 특성 단독
#2 : 두개의 특성(중복허용)
#3 : 3개의 특성(중복허용)
#모두 합해서 총 55개의 경우의 수

array(['x0', 'x1', 'x2', 'x3', 'x4', 'x0^2', 'x0 x1', 'x0 x2', 'x0 x3',
       'x0 x4', 'x1^2', 'x1 x2', 'x1 x3', 'x1 x4', 'x2^2', 'x2 x3',
       'x2 x4', 'x3^2', 'x3 x4', 'x4^2', 'x0^3', 'x0^2 x1', 'x0^2 x2',
       'x0^2 x3', 'x0^2 x4', 'x0 x1^2', 'x0 x1 x2', 'x0 x1 x3',
       'x0 x1 x4', 'x0 x2^2', 'x0 x2 x3', 'x0 x2 x4', 'x0 x3^2',
       'x0 x3 x4', 'x0 x4^2', 'x1^3', 'x1^2 x2', 'x1^2 x3', 'x1^2 x4',
       'x1 x2^2', 'x1 x2 x3', 'x1 x2 x4', 'x1 x3^2', 'x1 x3 x4',
       'x1 x4^2', 'x2^3', 'x2^2 x3', 'x2^2 x4', 'x2 x3^2', 'x2 x3 x4',
       'x2 x4^2', 'x3^3', 'x3^2 x4', 'x3 x4^2', 'x4^3'], dtype=object)

In [ ]:
#직접 각 열의 scale을 조정하는 정규화 작업을 하자.
#각 열의 평균과 표준편차를 구하자.
#정규화는 반드시! 훈련 세트를 기준으로 한다.

import numpy as np
mean = np.mean(ptrain_input, axis = 0)
std = np.std(ptrain_input, axis = 0)

print(mean)
print("\n")
print(std)

[2.63243697e+01 2.84966387e+01 3.12697479e+01 8.86248403e+00
 4.44828655e+00 7.92411933e+02 8.56524454e+02 9.37086134e+02
 2.57814471e+02 1.31138888e+02 9.25932689e+02 1.01322941e+03
 2.79395907e+02 1.41884859e+02 1.11034563e+03 3.08968937e+02
 1.55486346e+02 9.49414117e+01 4.46205259e+01 2.24784019e+01
 2.67547802e+04 2.88723198e+04 3.14612865e+04 8.21421819e+03
 4.27988357e+03 3.11605916e+04 3.39621773e+04 8.88976346e+03
 4.62352708e+03 3.70647882e+04 9.79650737e+03 5.04894786e+03
 2.91615045e+03 1.39363057e+03 7.15184216e+02 3.36336313e+04
 3.66656499e+04 9.62193486e+03 4.99528651e+03 4.00244094e+04
 1.06062102e+04 5.45616093e+03 3.16432467e+03 1.50943689e+03
 7.73251048e+02 4.37510736e+04 1.17102719e+04 5.96807786e+03
 3.52778546e+03 1.66610762e+03 8.45631606e+02 1.15985600e+03
 5.13257749e+02 2.43561282e+02 1.23954730e+02]


[9.97193513e+00 1.06711890e+01 1.15129708e+01 4.04941829e+00
 1.64047206e+00 6.09157398e+02 6.52897332e+02 6.99439320e+02
 1.70338657e+02 8.64808366e+01 6.99894289e+02 7.50234823e+02
 1.84730167e+02 9.29435210e+01 8.07179357e+02 2.07962487e+02
 1.00214061e+02 8.08432980e+01 3.06790123e+01 1.49475045e+01
 3.29083891e+04 3.52861296e+04 3.77155312e+04 7.49008475e+03
 4.30652569e+03 3.78381212e+04 4.04517393e+04 8.08595154e+03
 4.62459620e+03 4.32989825e+04 8.88470272e+03 4.95699652e+03
 2.86936698e+03 1.21938549e+03 6.54328688e+02 4.05774416e+04
 4.33899493e+04 8.73184769e+03 4.96684739e+03 4.64568810e+04
 9.60423594e+03 5.32621758e+03 3.12594033e+03 1.32035953e+03
 7.04080177e+02 4.98172884e+04 1.06167704e+04 5.72582156e+03
 3.56181191e+03 1.46293110e+03 7.57159207e+02 1.41483109e+03
 5.22001192e+02 2.20559853e+02 1.15789269e+02]

In [ ]:
#브로드캐스팅 기능을 활용해서 훈련세트와 테스트세트를 정규화하자.
rph_train_input = (ptrain_input - mean) / std
rph_test_input = (ptest_input - mean) / std

print(rph_train_input)
print('\n')
print(rph_test_input)

[[ 0.56916037  0.60943175  0.81041221 ...  2.14000854  1.64702138
   0.88014891]
 [ 1.57197475  1.54653445  1.45316551 ... -0.52890238 -0.34786205
  -0.05694495]
 [-1.63703128 -1.68646987 -1.70848587 ... -0.97460842 -1.09225571
  -1.05703952]
 ...
 [ 0.30842863  0.32830094  0.51509312 ...  1.23200743  0.70854732
   0.12348159]
 [-0.58407618 -0.56194663 -0.63143979 ... -0.66298325 -0.69985263
  -0.6594685 ]
 [-0.11275342 -0.11213733 -0.22320459 ... -0.30150317 -0.10836924
   0.10042492]]


[[-0.9551175  -0.91804565 -1.03098914 ... -0.82150578 -0.87431969
  -0.80736327]
 [-1.46655284 -1.50842035 -1.54345461 ... -0.96889516 -1.08654454
  -1.05287116]
 [ 0.36859749  0.35641402  0.30663259 ... -0.78276697 -0.81662971
  -0.73833149]
 ...
 [-0.69438576 -0.70251203 -0.65749736 ... -0.74729592 -0.80342419
  -0.76175994]
 [-0.65427318 -0.6556569  -0.62275394 ... -0.40990828 -0.66429067
  -0.79875302]
 [ 1.03045498  0.98427283  0.8712132  ...  1.19311445  1.94171549
   2.36064693]]

In [ ]:
#이번에는 변환기 StandardScaler을 이용하자.
from sklearn.preprocessing import StandardScaler
ss = StandardScaler().fit(ptrain_input)
print(ss.mean_)
print("\n")
print(ss.scale_)

[2.63243697e+01 2.84966387e+01 3.12697479e+01 8.86248403e+00
 4.44828655e+00 7.92411933e+02 8.56524454e+02 9.37086134e+02
 2.57814471e+02 1.31138888e+02 9.25932689e+02 1.01322941e+03
 2.79395907e+02 1.41884859e+02 1.11034563e+03 3.08968937e+02
 1.55486346e+02 9.49414117e+01 4.46205259e+01 2.24784019e+01
 2.67547802e+04 2.88723198e+04 3.14612865e+04 8.21421819e+03
 4.27988357e+03 3.11605916e+04 3.39621773e+04 8.88976346e+03
 4.62352708e+03 3.70647882e+04 9.79650737e+03 5.04894786e+03
 2.91615045e+03 1.39363057e+03 7.15184216e+02 3.36336313e+04
 3.66656499e+04 9.62193486e+03 4.99528651e+03 4.00244094e+04
 1.06062102e+04 5.45616093e+03 3.16432467e+03 1.50943689e+03
 7.73251048e+02 4.37510736e+04 1.17102719e+04 5.96807786e+03
 3.52778546e+03 1.66610762e+03 8.45631606e+02 1.15985600e+03
 5.13257749e+02 2.43561282e+02 1.23954730e+02]


[9.97193513e+00 1.06711890e+01 1.15129708e+01 4.04941829e+00
 1.64047206e+00 6.09157398e+02 6.52897332e+02 6.99439320e+02
 1.70338657e+02 8.64808366e+01 6.99894289e+02 7.50234823e+02
 1.84730167e+02 9.29435210e+01 8.07179357e+02 2.07962487e+02
 1.00214061e+02 8.08432980e+01 3.06790123e+01 1.49475045e+01
 3.29083891e+04 3.52861296e+04 3.77155312e+04 7.49008475e+03
 4.30652569e+03 3.78381212e+04 4.04517393e+04 8.08595154e+03
 4.62459620e+03 4.32989825e+04 8.88470272e+03 4.95699652e+03
 2.86936698e+03 1.21938549e+03 6.54328688e+02 4.05774416e+04
 4.33899493e+04 8.73184769e+03 4.96684739e+03 4.64568810e+04
 9.60423594e+03 5.32621758e+03 3.12594033e+03 1.32035953e+03
 7.04080177e+02 4.98172884e+04 1.06167704e+04 5.72582156e+03
 3.56181191e+03 1.46293110e+03 7.57159207e+02 1.41483109e+03
 5.22001192e+02 2.20559853e+02 1.15789269e+02]

In [ ]:
rp_train_input = ss.transform(ptrain_input)
rp_test_input = ss.transform(ptest_input)

print(rp_train_input)
print("\n")
print(rp_test_input)

[[ 0.56916037  0.60943175  0.81041221 ...  2.14000854  1.64702138
   0.88014891]
 [ 1.57197475  1.54653445  1.45316551 ... -0.52890238 -0.34786205
  -0.05694495]
 [-1.63703128 -1.68646987 -1.70848587 ... -0.97460842 -1.09225571
  -1.05703952]
 ...
 [ 0.30842863  0.32830094  0.51509312 ...  1.23200743  0.70854732
   0.12348159]
 [-0.58407618 -0.56194663 -0.63143979 ... -0.66298325 -0.69985263
  -0.6594685 ]
 [-0.11275342 -0.11213733 -0.22320459 ... -0.30150317 -0.10836924
   0.10042492]]


[[-0.9551175  -0.91804565 -1.03098914 ... -0.82150578 -0.87431969
  -0.80736327]
 [-1.46655284 -1.50842035 -1.54345461 ... -0.96889516 -1.08654454
  -1.05287116]
 [ 0.36859749  0.35641402  0.30663259 ... -0.78276697 -0.81662971
  -0.73833149]
 ...
 [-0.69438576 -0.70251203 -0.65749736 ... -0.74729592 -0.80342419
  -0.76175994]
 [-0.65427318 -0.6556569  -0.62275394 ... -0.40990828 -0.66429067
  -0.79875302]
 [ 1.03045498  0.98427283  0.8712132  ...  1.19311445  1.94171549
   2.36064693]]

# 2.
0.001로 시작해서 10배씩 커지고 원소가 100개인 리스트를 만들어보세요.  
한줄로 만들어보세요.

# 답

In [ ]:
alpha_list = [0.001 * 10 ** n for n in range(100)]
alpha_list

[0.001,
 0.01,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0,
 10000.0,
 100000.0,
 1000000.0,
 10000000.0,
 100000000.0,
 1000000000.0,
 10000000000.0,
 100000000000.0,
 1000000000000.0,
 10000000000000.0,
 100000000000000.0,
 1000000000000000.0,
 1e+16,
 1e+17,
 1e+18,
 1e+19,
 1e+20,
 1e+21,
 1.0000000000000002e+22,
 1.0000000000000001e+23,
 1e+24,
 9.999999999999999e+24,
 9.999999999999999e+25,
 1e+27,
 1e+28,
 1.0000000000000001e+29,
 1e+30,
 1e+31,
 1e+32,
 1.0000000000000001e+33,
 1e+34,
 1e+35,
 9.999999999999999e+35,
 1.0000000000000001e+37,
 1e+38,
 1.0000000000000001e+39,
 1e+40,
 1.0000000000000002e+41,
 9.999999999999999e+41,
 1e+43,
 1e+44,
 1.0000000000000001e+45,
 1e+46,
 1e+47,
 1e+48,
 1.0000000000000001e+49,
 1e+50,
 1.0000000000000002e+51,
 1e+52,
 1.0000000000000002e+53,
 1e+54,
 1e+55,
 1e+56,
 1e+57,
 1e+58,
 1.0000000000000001e+59,
 1.0000000000000001e+60,
 1.0000000000000001e+61,
 1e+62,
 9.999999999999999e+62,
 1e+64,
 1e+65,
 1.0000000000000001e+66,
 1.0000000000000001e+67,
 1.0000000000000001e+68,
 9.999999999999999e+68,
 1e+70,
 9.999999999999999e+70,
 1e+72,
 1.0000000000000001e+73,
 1e+74,
 1.0000000000000001e+75,
 1e+76,
 1e+77,
 1e+78,
 1e+79,
 1e+80,
 1.0000000000000001e+81,
 1e+82,
 1e+83,
 1e+84,
 1e+85,
 1e+86,
 1e+87,
 1.0000000000000001e+88,
 1e+89,
 1.0000000000000001e+90,
 1e+91,
 1e+92,
 1e+93,
 1e+94,
 1e+95,
 9.999999999999999e+95]

# 3.
https://bit.ly/fish_csv_data

로지스틱회귀를 이용해서 bream에 대한 z 값을 구해보세요.  

1. 해당링크파일을 데이터프레임으로 전환

2. bream과 smelt만 가져오기
3. 클래스 bream을 1(양성), smelt를 0(음성)으로 대체
4. target값과 input 값 배열로 전환 
5. 훈련 테스트 세트 분할
6. 정규화
7. 로지스틱회귀 모델링
8. test 5개 샘플에 대한 z 값 추출

In [ ]:
import pandas as pd
fish = pd.read_csv('https://bit.ly/fish_csv_data')
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Species   159 non-null    object
 1   Weight    159 non-null    float64
 2   Length    159 non-null    float64
 3   Diagonal  159 non-null    float64
 4   Height    159 non-null    float64
 5   Width     159 non-null    float64
dtypes: float64(5), object(1)
memory usage: 7.6+ KB

In [4]:
#Species 값 확인 
fish['Species'].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [7]:
#Bream과 Smelt만 가져오자.
bream_smelt_indexes = (fish['Species'] == 'Bream') | (fish['Species'] == 'Smelt')
fish = fish.loc[bream_smelt_indexes]
fish.head(-10)

    Species  Weight  Length  Diagonal   Height   Width
0     Bream   242.0    25.4      30.0  11.5200  4.0200
1     Bream   290.0    26.3      31.2  12.4800  4.3056
2     Bream   340.0    26.5      31.1  12.3778  4.6961
3     Bream   363.0    29.0      33.5  12.7300  4.4555
4     Bream   430.0    29.0      34.0  12.4440  5.1340
5     Bream   450.0    29.7      34.7  13.6024  4.9274
6     Bream   500.0    29.7      34.5  14.1795  5.2785
7     Bream   390.0    30.0      35.0  12.6700  4.6900
8     Bream   450.0    30.0      35.1  14.0049  4.8438
9     Bream   500.0    30.7      36.2  14.2266  4.9594
10    Bream   475.0    31.0      36.2  14.2628  5.1042
11    Bream   500.0    31.0      36.2  14.3714  4.8146
12    Bream   500.0    31.5      36.4  13.7592  4.3680
13    Bream   340.0    32.0      37.3  13.9129  5.0728
14    Bream   600.0    32.0      37.2  14.9544  5.1708
15    Bream   600.0    32.0      37.2  15.4380  5.5800
16    Bream   700.0    33.0      38.3  14.8604  5.2854
17    Bream   700.0    33.0      38.5  14.9380  5.1975
18    Bream   610.0    33.5      38.6  15.6330  5.1338
19    Bream   650.0    33.5      38.7  14.4738  5.7276
20    Bream   575.0    34.0      39.5  15.1285  5.5695
21    Bream   685.0    34.0      39.2  15.9936  5.3704
22    Bream   620.0    34.5      39.7  15.5227  5.2801
23    Bream   680.0    35.0      40.6  15.4686  6.1306
24    Bream   700.0    35.0      40.5  16.2405  5.5890
25    Bream   725.0    35.0      40.9  16.3600  6.0532
26    Bream   720.0    35.0      40.6  16.3618  6.0900
27    Bream   714.0    36.0      41.5  16.5170  5.8515
28    Bream   850.0    36.0      41.6  16.8896  6.1984
29    Bream  1000.0    37.0      42.6  18.9570  6.6030
30    Bream   920.0    38.5      44.1  18.0369  6.3063
31    Bream   955.0    38.5      44.0  18.0840  6.2920
32    Bream   925.0    39.5      45.3  18.7542  6.7497
33    Bream   975.0    41.0      45.9  18.6354  6.7473
34    Bream   950.0    41.0      46.5  17.6235  6.3705
145   Smelt     6.7     9.8      10.8   1.7388  1.0476
146   Smelt     7.5    10.5      11.6   1.9720  1.1600
147   Smelt     7.0    10.6      11.6   1.7284  1.1484
148   Smelt     9.7    11.0      12.0   2.1960  1.3800

In [8]:
#사이킷런에서 클래스는 알파벳 순서로 정렬되기 때문에
#그냥 하면 smelt가 양성이 된다.
#bream을 양성으로 하기위해서 bream을 1, smelt를 0으로 대체하자.

fish = fish.replace({'Species' : 'Bream'}, 1)
fish = fish.replace({'Species' : 'Smelt'}, 0)
fish.head(-10)

     Species  Weight  Length  Diagonal   Height   Width
0          1   242.0    25.4      30.0  11.5200  4.0200
1          1   290.0    26.3      31.2  12.4800  4.3056
2          1   340.0    26.5      31.1  12.3778  4.6961
3          1   363.0    29.0      33.5  12.7300  4.4555
4          1   430.0    29.0      34.0  12.4440  5.1340
5          1   450.0    29.7      34.7  13.6024  4.9274
6          1   500.0    29.7      34.5  14.1795  5.2785
7          1   390.0    30.0      35.0  12.6700  4.6900
8          1   450.0    30.0      35.1  14.0049  4.8438
9          1   500.0    30.7      36.2  14.2266  4.9594
10         1   475.0    31.0      36.2  14.2628  5.1042
11         1   500.0    31.0      36.2  14.3714  4.8146
12         1   500.0    31.5      36.4  13.7592  4.3680
13         1   340.0    32.0      37.3  13.9129  5.0728
14         1   600.0    32.0      37.2  14.9544  5.1708
15         1   600.0    32.0      37.2  15.4380  5.5800
16         1   700.0    33.0      38.3  14.8604  5.2854
17         1   700.0    33.0      38.5  14.9380  5.1975
18         1   610.0    33.5      38.6  15.6330  5.1338
19         1   650.0    33.5      38.7  14.4738  5.7276
20         1   575.0    34.0      39.5  15.1285  5.5695
21         1   685.0    34.0      39.2  15.9936  5.3704
22         1   620.0    34.5      39.7  15.5227  5.2801
23         1   680.0    35.0      40.6  15.4686  6.1306
24         1   700.0    35.0      40.5  16.2405  5.5890
25         1   725.0    35.0      40.9  16.3600  6.0532
26         1   720.0    35.0      40.6  16.3618  6.0900
27         1   714.0    36.0      41.5  16.5170  5.8515
28         1   850.0    36.0      41.6  16.8896  6.1984
29         1  1000.0    37.0      42.6  18.9570  6.6030
30         1   920.0    38.5      44.1  18.0369  6.3063
31         1   955.0    38.5      44.0  18.0840  6.2920
32         1   925.0    39.5      45.3  18.7542  6.7497
33         1   975.0    41.0      45.9  18.6354  6.7473
34         1   950.0    41.0      46.5  17.6235  6.3705
145        0     6.7     9.8      10.8   1.7388  1.0476
146        0     7.5    10.5      11.6   1.9720  1.1600
147        0     7.0    10.6      11.6   1.7284  1.1484
148        0     9.7    11.0      12.0   2.1960  1.3800

In [9]:
#target과 input값을 뽑자.
fish_target = fish['Species'].to_numpy()
fish_input = fish[['Weight','Length',	'Diagonal',	'Height',	'Width']].to_numpy()

In [11]:
#훈련세트와 테스트 세트로 분할 
from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = \
train_test_split(fish_input, fish_target, stratify = fish_target, random_state = 42)

In [15]:
#훈련세트 기준으로 정규화(규제를 적용하지 않기에 반드시 필요한 과정은 아니다.)
from sklearn.preprocessing import StandardScaler
ss = StandardScaler().fit(train_input)
train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [16]:
#로지스틱회귀 모델링 
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression().fit(train_scaled, train_target)
print(lr.classes_)

[0 1]

In [17]:
#양성클래스(1 = Bream)에 대한 z 값 확인
print(lr.decision_function(test_scaled[:5]))

[-3.24728537 -3.19252119  3.54387056 -3.14501783  2.58955402]